{% extends 'base.html' %}
{% block title %}About Us | TejasCorp{% endblock %}
{% load static %}

{% block content %}
<section class="container" style="margin-top: 4rem; margin-bottom: 4rem;">
    <!-- <h2>About Us</h2> -->
    <div class="row">
        <div class="col-md-3 d-flex justify-content-center align-items-center">
            <!-- <img src="{% static 'img/logo.png' %}" class="img-fluid" alt="About Us"> -->
             <h4>Who we are?</h4>
        </div>
        <div class="col-md-9">
            <p>
                Tejas Corp Pvt. Ltd stands today as a proud extension of the legacy built by the KGS Group - a journey that began humbly over 45 years ago with a single grocery shop, Kedar General Store. What started as a small, community-centered business in Mahendranagar has grown into a thriving group of companies that touch the lives of thousands across Nepal.
            </p>
            <p>
                The journey of KGS Group is a story of vision, resilience, and relentless commitment to growth. Rooted in honesty and built with the trust of the people, the business expanded step by step - never forgetting its origins, and always driven by the desire to serve.
                From its beginnings in retail, KGS Group ventured into trading, becoming an authorized distributor for iconic brands such as Tuborg, Khukuri Rum, Gurkhas & Guns, and Pepsi. This marked the first step toward becoming a regional powerhouse in distribution.                
            </p>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-md-12">
            <h5>Over the years, the group has grown into multiple specialized ventures:</h5>
            <ul>
                <li><span class="fw-bold">K.G.S Tradelink Pvt. Ltd. (Mahendranagar):</span> Authorized dealer of TVS three-wheelers</li>
                <li><span class="fw-bold">KGS Trading Concern (Mahendranagar):</span> Authorized dealer of Yamaha two-wheelers</li>
                <li><span class="fw-bold">GARS Trading Concern (Dhangadhi):</span> Authorized dealer of Nissan four-wheelers</li>
                <li><span class="fw-bold">LS Water and Beverages (Dhangadhi) :</span> Producers of energy and carbonated drinks</li>
                <li><span class="fw-bold">KGS Home Decor:</span> Suppliers of home appliances for modern living</li>
                <li><span class="fw-bold">Kundaleshwor Films Pvt. Ltd.:</span> Creators of powerful stories through documentary films</li>
              </ul>              
        </div>
        <p>
            Now, continuing this legacy of innovation and customer service, Tejas Corp Pvt. Ltd has been established as a dedicated provider of inverter batteries, tubular batteries, automotive batteries, and related appliances - serving both homes and industries with reliable energy solutions.
        </p>
        <p>
            At the heart of everything we do is a simple belief: growth must serve people. From our first grocery customer to the latest car buyer, our story has always been about delivering trust, quality, and connection.
        </p>
        <p>
            We are not just a group of businesses - we are a generational dream, carried forward with honesty, and built to last.
        </p>
        <p class="fw-bold">
            Welcome to Tejas Corp Pvt. Ltd. Welcome to the future of power, built on the foundation of your trust.
        </p>
    </div>
  </section>
{% endblock %}
