{% extends 'base.html' %}
{% block title %}{{product.productName}} | Eastman{% endblock %}

{% block content %}
<div class="container mt-5 mb-5">
    <div class="row">
        <div class="col-md-4 d-flex justify-content-center align-items-center">
            <img src="/media/{{product.productImage}}" alt="{{product.productName}}" style="max-width: 100%; height: auto; border-radius: 20px;">
        </div>
        <div class="col-md-8">
            <h3 class="mt-2">{{product.productName}}</h3>
            <h5 class="mt-3">Rs. {{product.price }}</h5>
            <h6 class="mt-4">Product Details:</h6>
            <p style="margin-top: -10px;">{{product.description|linebreaks}}</p>
        </div>
    </div>
</div>
{% endblock %}
