<!DOCTYPE html>
<html>
<head>
    <title>Warranties</title>
</head>
<body>
    <h1>Warranties</h1>
    <table>
        <tr>
            <th>Vendor</th>
            <th>Customer Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Model</th>
            <th>Date of Sale</th>
            <th>Serial Number</th>
        </tr>
        {% for warranty in warranties %}
        <tr>
            <td>{{ warranty.vendor.name }}</td>
            <td>{{ warranty.full_name }}</td>
            <td>{{ warranty.email }}</td>
            <td>{{ warranty.phone }}</td>
            <td>{{ warranty.model }}</td>
            <td>{{ warranty.date_of_sale }}</td>
            <td>{{ warranty.serial_number }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>
